body {
  font-family: Roboto;
}
.rightBox {
  height: 40px;
  float: right;
}

.signInText {
  font-size: 12px;
  height: 100%;
  float: left;
  line-height: 6px;
  margin-right: 6px;
  margin-top: -2px;
}

.signInText a {
text-decoration: none;
}

.signInButton {
  height: 100%;
  text-align: center;
  float: right;
}

.rightButton{
  height: 100%;
  width: 102px;
  color: white;
  border-radius: 4px;
  background-color: #0077C5;
  border: 1px solid #4c4c4c;


}
