body {
  font-family: Roboto;
  background-color: #ECEEF1;
}

.wrapper {
  border: solid orange 3px;
  height: 800px;
}

.rightBox {
  height: 40px;
  float: right;
}

.signInText {
  font-size: 12px;
  height: 100%;
  float: left;
  line-height: 6px;
  margin-right: 6px;
  margin-top: -2px;
}

.signInText a {
text-decoration: none;
}

.signInButton {
  height: 100%;
  text-align: center;
  float: right;
}

.rightButton{
  height: 100%;
  width: 102px;
  color: white;
  border-radius: 4px;
  background-color: #0077C5;
  border: 1px solid #4c4c4c;
}
.logo {
  border: solid red 2px;
  width: 380px;
  margin: auto;
}

.intuitLogo img {
  border: solid black 1px;
  margin-top: 80px;
  height: 90px;
  width: 180px;
}

.miniLogo img {
  height: 23px;
  width: 23px;
  border: solid blue 2px;
  vertical-align: middle;
}

.miniLogo {
  display: inline-block;
  border: solid pink 2px;
  height: 34px;
}

.logoText {
  display: inline-block;
  border: solid blue 2px;
}
